@if (TempData["Sucess"] != null)
{
    <div class=" alert alert-success notification">
        <!--is notifaction ko hum shared k layout p paste karenge-->
        <h3 class="text-black text-primary text-center">@TempData["Sucess"]</h3>
    </div>
}
@* 
@if (TempData["SucessUpadte"] != null)
{
    <div class=" alert alert-success notification">
        <!--is notifaction ko hum shared k layout p paste karenge-->
        <h3 class="text-black text-primary text-center">@TempData["SucessUpdate"]</h3>
    </div>
} *@