@model CurdApplication.Models.ViewModel.ImageCreateModel
@{
    ViewData["Title"] = "UploadImage";
}

<h1>UploadImage</h1>

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <!--enctype attribute is jab form ko post method k through submit karte hai tab use hota hai-->
            <form method="post"asp-action="UploadImage" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input type="text" asp-for="Name"class="form-control"placeholder="Enter name"/>
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImagePath"></label>
                    <input type="file" asp-for="ImagePath" class="form-control" />
                    <span class="text-danger" asp-validation-for="ImagePath"></span>
                </div>
                <div class="form-group">
                    <input type="submit"class="btn btn-sm btn-primary float-end"value="Click Upload Image"/>
                </div>
            </form>
        </div>
    </div>
</div>

